<p style="color: green"><%= notice %></p>

<%= render @resource_generator_construction %>

<div>
  <%= link_to "Edit this resource generator construction", edit_resource_generator_construction_path(@resource_generator_construction) %> |
  <%= link_to "Back to resource generator constructions", resource_generator_constructions_path %>

  <%= button_to "Destroy this resource generator construction", @resource_generator_construction, method: :delete %>
</div>
