<div id="<%= dom_id player_action %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Player:</strong>
    <%= player_action.player_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Round:</strong>
    <%= player_action.round_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Action type:</strong>
    <%= player_action.action_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this player action", player_action, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this player action', edit_player_action_path(player_action), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
