<%= form_with(model: player_loyalty, class: "contents") do |form| %>
  <% if player_loyalty.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(player_loyalty.errors.count, "error") %> prohibited this player_loyalty from being saved:</h2>

      <ul>
        <% player_loyalty.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :player_loyalty_quantity %>
    <%= form.number_field :player_loyalty_quantity, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
