<div id="<%= dom_id resource_generator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Player:</strong>
    <%= resource_generator.player_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resource generator type:</strong>
    <%= resource_generator.resource_generator_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this resource generator", resource_generator, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this resource generator', edit_resource_generator_path(resource_generator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
